body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #0171f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}
.logo {
  width: 100px;
}
.btn {
  background-color: #ee626b;
  border-radius: 15px;
  padding: 5px 15px;
  color: #ffffff;
  border: none;
}

.btn:hover {
  background-color: #f2858c;
}

.header-links a {
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 15px;
}

.header-links a:hover {
  background-color: #2386fe;
}

.landing-page {
  background-color: #0171f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  color: #ffffff;
  border-radius: 0 0 50px 50px;
}

.landing-page-left-section {
  width: 500px;
}

.landing-page-search input {
  border-radius: 50px;
  border: none;
  outline: none;
  height: 30px;
  padding: 0 10px;
}

.landing-page-search button {
  position: absolute;
  left: 200px;
  height: 30px;
}

.landing-page-image-container img {
  border-radius: 20px;
  width: 250px;
}

.trending-container {
  padding: 25px 50px;
}

.trending-container span {
    color: #ee626b;
    text-transform: uppercase;
    font-size: 14px;
}

.trending-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trending-header h1 {
    margin-top: 0;
}

.trending-cards {
    display: flex;
    gap: 12px;
}

.card {
    width: 300px;
    background-color: #EEEEEE;
    border-radius: 20px;
}

.card .thumb {
    border-radius: 20px 20px 0 0;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
}

.card-info img {
    width: 50px;
}
/* OPEN SOURCE SECTION */
.open-source {
  padding: 80px 10%;
  background-color: #f4f7ff;
  text-align: center;
}

.open-source h4 {
  color: #ff4d4d;
  letter-spacing: 2px;
}

.open-source h2 {
  margin-bottom: 40px;
}

.contribution-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.contribution-card {
  background: white;
  padding: 25px;
  width: 280px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.contribution-card:hover {
  transform: translateY(-10px);
}

.badge {
  display: inline-block;
  margin-top: 15px;
  padding: 5px 15px;
  background: #1e73e8;
  color: white;
  border-radius: 20px;
  font-size: 12px;
}

.contribution-stats {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.stat-box h3 {
  font-size: 35px;
  color: #1e73e8;
}